<div class="bg-gray-300 top-0 left-0 right-0 h-16 absolute flex">
  <div class="container mx-auto flex justify-between items-center px-5">
    <div class="text-lg font-bold">
      <a href="/" class="hover:underline">My Blog</a>
    </div>
    <div>
      <% if user_signed_in? %>
        <div class="flex gap-4 items-center">
          <div>
            <%= link_to "New Post", new_post_path, class: "font-semibold hover:underline text-blue-600" %>
          </div>
          <div class="flex">Logged as: 
            <h1 class="font-bold ml-1"><%= current_user.name %></h1>
          </div>
          <div class="h-12 w-12 rounded-full bg-gray-400 aspect-square items-center justify-center flex overflow-hidden">
            <%= image_tag(url_for(current_user.avatar)) if current_user.avatar.attached? %></div>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "font-semibold hover:underline" %>
        </div>
      <% else %>
        <a href="/users/sign_in" class="font-semibold hover:underline">Sign In</a>
      <% end %>
    </div>
  </div>
</div>